{% block subject %}
    Has solicitado reestablecer tu contraseña
{% endblock %}
{% block body %}


<a href="http://developer.jeeked.com/password/reset/{{ token }}"> Reestablece contraseña </a>
<br>
sino te funciona el enlace
http://developer.jeeeked.com/password/reset/{{ token }}



{% endblock %}
